@model WhatBug.Application.Navigation.Queries.GetProjectNavigation.ProjectNavigationDTO

@{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li>
                <div class="info mb-3">
                    <a asp-route="Home" class="d-block">
                        <i class="fas fa-arrow-left nav-icon"></i>
                        Home
                    </a>
                </div>
            </li>

            <li class="nav-header">@Model.Name</li>

            <!-- Dashboard -->
            <li class="nav-item">
                <a asp-route="Dashboard" asp-route-projectId="@Model.Id" class="nav-link">
                    <i class="fas fa-tachometer-alt nav-icon"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <!-- Board -->
            <li class="nav-item">
                <a asp-route="KanbanBoard" asp-route-projectId="@Model.Id" class="nav-link">
                    <i class="fas fa-columns nav-icon"></i>
                    <p>Kanban Board</p>
                </a>
            </li>

            <!-- Users And Roles -->
            <li class="nav-item">
                <a class="nav-link" asp-route="UsersAndRoles" asp-route-projectId="@Model.Id">
                    <i class="fas fa-users nav-icon"></i>
                    <p>Users And Roles</p>
                </a>
            </li>
        </ul>
    </nav>
}