@model WhatBug.Application.Home.GetHomeQueryResult

@{
    ViewData["Title"] = "Home";
}

<h5 class="mb-3">My Projects</h5>
<partial name="_MyProjects.cshtml" />


<h5 class="mt-5 mb-3">My Tasks</h5>

<div class="row">
    <div class="col-12 col-lg-6">
        <partial name="_ToDoIssues.cshtml" />
    </div>

    <div class="col-12 col-lg-6">
        <partial name="_InProgressIssues.cshtml" />
    </div>
</div>

