@model WhatBug.WebUI.ViewModels.Projects.BoardViewModel

@{

  <div class="row row-cols-4 container-fluid">

      @foreach (var column in Model.Columns )
        {
          <div class="col">
              <div class="card card-secondary">
                  <div class="card-header">
                      <h3 class="card-title">
                          @column
                      </h3>
                  </div>
                  <div class="card-body">
                      <div class="card card-info card-outline">
                          <div class="card-header">
                              <h5 class="card-title">Create Labels</h5>
                              <div class="card-tools">
                                  <a href="#" class="btn btn-tool btn-link">#3</a>
                                  <a href="#" class="btn btn-tool">
                                      <i class="fas fa-pen"></i>
                                  </a>
                              </div>
                          </div>
                          <div class="card-body">
                              <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="customCheckbox1" disabled>
                                  <label for="customCheckbox1" class="custom-control-label">Bug</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        }
</div>



}
