@model WhatBug.WebUI.ViewModels.Projects.ProjectUsersAndRolesViewModel 

@{
    ViewData["Title"] = "UsersAndRoles";
}

<div class="input-group">
    <button type="button" class="btn btn-default mdl">
        Add User to Role
    </button>
</div>

<!-- Data for add user to role modal -->
<form id="addUserToRoleModalData">
    <input asp-for="@Model.ProjectId" />
</form>

<!-- Add user to role modal to be populated by partial view -->
<div class="modal fade" id="addUserToRoleModal"></div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.mdl').on('click', function () {
                $.post('/projects/getaddusertoprojectrolepartial',
                    $('#addUserToRoleModalData').serialize()
                ).done(function (response) {
                    $('#addUserToRoleModal').html(response);
                    $('#addUserToRoleModal').modal('show');
                });
            });
        });
    </script>
} 