@model WhatBug.Application.PermissionSchemes.Commands.CreatePermissionScheme.CreatePermissionSchemeCommand

@{
    ViewData["Title"] = "Create Permission Scheme";
}

@{
    <div class="page-container px-sm-3">

        <div class="text-block">
            <p>
                Permission schemes allow you to have different sets of role permissions on different projects.
                Each <a asp-route="ProjectRoles">project role</a> can be assigned certain permissions within a permission scheme.
            </p>
            <p>
                A project can then be assigned a permission scheme and will inherit all of the permissions from that scheme.
            </p>
        </div>

        <div class="page-container__item--medium-width">
            <form class="form" method="post">
                <div class="form__group">
                    <label class="form__label" asp-for="Name">Scheme Name</label>
                    <input class="form__input" asp-for="Name" />
                    <span class="form__validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__group">
                    <label class="form__label" asp-for="Description">Scheme Description</label>
                    <input class="form__input" asp-for="Description" />
                    <span class="form__validation" asp-validation-for="Description"></span>
                </div>
                <button class="button button--primary float-right" type="submit">
                    <i class="button__icon icon icon--plus"></i>
                    Create Scheme
                </button>
            </form>
        </div>

        <div class="page-container__item--medium-width">
            <div class="alert alert--info alert--dismissible">
                <button class="alert__dismiss" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon icon--information"></i> Example</h5>
                <ol>
                    <li>Create permission scheme <b>"Software Development"</b>.</li>
                    <li>Create project role <b>"Developer"</b>.</li>
                    <li>Grant the <b>Developer</b> role a permission under the <b>Software Development</b> scheme.</li>
                    <li>Assign the new permission scheme to a project.</li>
                    <li>Assign a user to the <b>Developer</b> role for that project.</li>
                    <li>The user now has the project permissions you granted to the <b>Developer</b> role.</li>
                </ol>
            </div>
        </div>
    </div>
}