<div class="quill-container">
    <div class="quill-editor"></div>
    <div class="form-group quill-savecancel d-none">
        <button type="button" class="btn btn-primary quill-save">Save</button>
        <button type="button" class="btn btn-link quill-cancel">Cancel</button>
    </div>
</div>