@model WhatBug.Application.Home.GetHomeQueryResult

@{
    ViewData["Title"] = "Home";
}

<h5>My Projects</h5>
<div class="row justify-content-center justify-content-md-start">
    <partial name="_MyProjects.cshtml" />
</div>


<h5 class="mt-4 mb-4">My Tasks</h5>

<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <partial name="_ToDoIssues.cshtml" />
    </div>

    <div class="col-12 col-lg-6">
        <partial name="_InProgressIssues.cshtml" />
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-knob/jquery.knob.min.js"></script>
    <script type="text/javascript" src="~/js/home.js" asp-append-version="true"></script>
}
