// #outer-dropzone {
//     height: 140px;
//   }
  
//   #inner-dropzone {
//     height: 80px;
//   }
  


  .dropzone-border {
    border: dashed 3px #aaa !important;
  }

  .dropzone-hover {
    background-color: #bfe4ff;
    transition: background-color 0.3s;
  }

  .issue-card .card-body {
    min-height: 30px !important;
  }