// #outer-dropzone {
//     height: 140px;
//   }
  
//   #inner-dropzone {
//     height: 80px;
//   }
  


  .dropzone-border {
    border: dashed 3px #aaa !important;
  }

  .dropzone-hover {
    background-color: #bfe4ff;
    transition: background-color 0.3s;
  }

  .issue-card .card-body {
    //   padding: 0;
    //   padding-top: 0 !important;
    min-height: 30px !important;
  }
  
//   .drop-active {
//     border-color: #aaa;
//   }
  
//   .drop-target {
//     background-color: #29e;
//     border-color: #fff;
//     border-style: solid;
//   }
  
//   .drag-drop {
//     display: inline-block;
//     min-width: 40px;
//     padding: 2em 0.5em;
//     margin: 1rem 0 0 1rem;
  
//     color: #fff;
//     background-color: #29e;
//     border: solid 2px #fff;
  
//     touch-action: none;
//     transform: translate(0px, 0px);
  
//     transition: background-color 0.3s;
//   }
  
//   .drag-drop.can-drop {
//     color: #000;
//     background-color: #4e4;
//   }
  