.dropzone-border {
  border: dashed 3px #aaa !important;
}

.dropzone-hover {
  background-color: #bfe4ff;
  transition: background-color 0.3s;
}

.issue-card .card-body {
  min-height: 30px !important;
}

// #IssueDetailComponent .quill-editor:hover {
//   background-color: #495057;
// }

#IssueDetailComponent {
  .ql-editor {
    resize: none;
  }

  .modal-dialog {
    max-height: 90vh;
    width: 70vw;

    .modal-content {
      height: 100%;
    }

    .issue-detail-body {
      min-height: 0;

      & > div {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}