@model WhatBug.WebUI.Features.Issues.Detail.IssueDetailViewModel

@{
    ViewData["Title"] = "Detail";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
    <link rel="stylesheet" href="~/lib/quill/quill.snow.css" />
}

<!-- Buttons Row -->
<div class="row mb-3">
    <!-- Left side buttons -->
    <div class="col-md-8">
        <div class="btn-group">
            <button type="button" class="btn btn-default"><i class="fas fa-fw fa-edit mr-1"></i>Edit</button>
            <button type="button" class="btn btn-default"><i class="far fa-fw fa-comment mr-1"></i>Comment</button>
            <button type="button" class="btn btn-default"><i class="far fa-fw fa-user mr-1"></i>Assign</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">ToDo</button>
            <button type="button" class="btn btn-default">In Progress</button>
            <button type="button" class="btn btn-default">Done</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Admin</button>
        </div>
    </div>

    <!-- Right side buttons -->
    <div class="col-md-6">

    </div>
</div>

<div class="row">
    <!-- Details -->
    <div class="col-md-8">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h6 class="card-title">Details</h6>
            </div>
            <div class="card-body">
                <div class="form-group row mb-0">
                    <label class="col-sm-2 col-form-label">Issue Type</label>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-sm-2 col-form-label">Priority</label>
                    <p class="col-form-label"><icon icon="@Model.PriorityIconName" color="@Model.PriorityIconColor"></icon> @Model.PriorityName</p>
                </div>
            </div>
        </div>
    </div>

    <!-- People -->
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h6 class="card-title">People</h6>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="col-md-8">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h6 class="card-title">Description</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input asp-for="Description" name="Description" type="hidden" class="form-control quill-content" />
                    <div class="quill-editor"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script type="text/javascript" src="~/lib/quill/quill.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var quillEditor = '.quill-editor'; // Div to hold the Quill editor
            var quillForm = $('.quill-form'); // Form containing quillEditor
            var quillContent = $('.quill-content'); // Form field to hold editor contents on submit

            var quill = new Quill(quillEditor, {
                theme: 'snow',
                readOnly: true,
                modules: {
                    toolbar: false,
                    syntax: true
                }
            });

            if (quillContent.val() != '') {
                quill.setContents(JSON.parse(quillContent.val()));
            }

            quillForm.on('submit', function () {
                var text = JSON.stringify(quill.getContents());
                quillContent.val(text);
            });
        });
    </script>
}