@model WhatBug.WebUI.ViewModels.Issues.AllIssuesViewModel

@{
    ViewData["Title"] = "All Issues";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            All Issues
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Priorities</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Issues.Count; i++)
                {
                    <tr>
                        <!-- Actions -->
                        <td>
                            <div class="input-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.Issues[i].Id">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                        <td>@Model.Issues[i].Summary</td>
                        <td>@Model.Issues[i].Description</td>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
        <a asp-action="Create" class="btn btn-primary float-right"><i class="fas fa-plus"></i> New Priority Scheme</a>
    </div>
</div>
