<div class="card card-chart">
    <div class="card-header">
        <h3 class="card-title">Issues by Priority</h3>
    </div>
    <div class="card-body">
        <canvas id="issuePriorityChart" class="canvas"></canvas>
    </div>
</div>