<!-- Total Issues -->
<div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@Model.TotalIssues</h3>
            <p>Total Issues</p>
        </div>
        <div class="icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="small-box-footer"></div>
    </div>
</div>

<!-- Issues Completed -->
<div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@Model.IssuesCompleted</h3>
            <p>Issues Completed</p>
        </div>
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <div class="small-box-footer"></div>
    </div>
</div>

<!-- Issues Remaining-->
<div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@Model.RemainingIssues</h3>
            <p>Issues Remaining</p>
        </div>
        <div class="icon">
            <i class="fas fa-list-ul"></i>
        </div>
        <div class="small-box-footer"></div>
    </div>
</div>

<!-- Project Completion -->
<div class="col-12 col-sm-6 col-md-3">
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@Model.IssuesCompletedPercent%</h3>
            <p>Project Completion</p>
        </div>
        <div class="icon">
            <i class="fas fa-percent"></i>
        </div>
        <div class="small-box-footer"></div>
    </div>
</div>