@import 'colors';
@import 'components';
@import "plugins/sweetalert2";
@import "plugins/bootstrapcolorpicker";
@import "plugins/quill";
@import "plugins/bootstrap-select.scss";
@import "plugins/select2";

#CreateIssueComponent .form-control {
    background-color: #f4f5f7;
}

#CreateIssueComponent .modal-dialog{
    overflow-y: initial;
}
#CreateIssueComponent .modal-body{
    height: 80vh;
    overflow-y: auto;
}

.simple-page {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}

.width-m {
    max-width: 50rem;
}