// AdminLTE & Bootstrap
// ---------------------------------------------------
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/admin-lte/build/scss/bootstrap-variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import '../../node_modules/admin-lte/build/scss/variables';
@import '../../node_modules/admin-lte/build/scss/variables-alt';
@import '../../node_modules/admin-lte/build/scss/mixins';

@import '../../node_modules/admin-lte/build/scss/parts/core';
@import '../../node_modules/admin-lte/build/scss/parts/components';
@import '../../node_modules/admin-lte/build/scss/parts/extra-components';
@import '../../node_modules/admin-lte/build/scss/parts/plugins';
@import '../../node_modules/admin-lte/build/scss/parts/miscellaneous';

// FontAwesome
// ---------------------------------------------------
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

// Original WhatBug CSS
// ---------------------------------------------------
@import 'colors';
@import 'components';
@import "plugins/sweetalert2";
@import "plugins/bootstrapcolorpicker";
@import "plugins/quill";
@import "plugins/bootstrap-select.scss";
@import "plugins/select2";

// WhatBug BEM CSS
// ---------------------------------------------------
@import "_base";
@import "_layout";

@import "modules/text";
@import "modules/page-container";
@import "modules/icon";
@import "modules/table";
@import "modules/button";
@import "modules/form";
@import "modules/alert";
@import "modules/text-block";

#CreateIssueComponent .form-control {
    background-color: #f4f5f7;
}

#CreateIssueComponent .modal-dialog{
    overflow-y: initial;
}
#CreateIssueComponent .modal-body{
    height: 80vh;
    overflow-y: auto;
}