<div class="card card-chart">
    <div class="card-header">
        <h3 class="card-title">Issues by Status</h3>
    </div>
    <div class="card-body">
        <canvas id="issueStatusChart" class="canvas"></canvas>
    </div>
</div>