// Generate WhatBug colors
@each $name, $color in $colors {
    .wb-color-#{$name} {
        color: $color;
    }
}

// Generate WhatBug background colors
@each $name, $color in $colors {
    .wb-bg-color-#{$name} {
        background-color: $color;
    }
}

// Generate WhatBug card colors
@each $name, $color in $colors {
    .card-#{$name} {
        border-top: 3px solid $color;
    }
}