@model WhatBug.WebUI.Features.Accounts.Login.LoginViewModel

@{
    Layout = "AdminLTE/_LayoutBasic";
    ViewData["Title"] = "Register";
}

<body class="hold-transition login-page">
    <div class="login-container">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="../../index2.html" class="h1"><b>What</b>Bug</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Sign in</p>

                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group mb-3">
                            <input asp-for="Username" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Password" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input asp-for="RememberMe">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </div>
                    </form>

                    <p class="mb-1">
                        <a href="forgot-password.html">I forgot my password</a>
                    </p>
                    @if (@Model.RegistrationEnabled == true)
                    {
                        <p class="mb-0">
                            <a asp-action="Register" class="text-center">Create an account</a>
                        </p>
                    }
                    else
                    {
                        <p class="mb-0">
                            <b>Registration currently closed</b>
                        </p>
                    }
                </div>
            </div>
        </div>

        @if (Model.DemoEnabled)
        {
            <div class="login-box align-items-stretch">
                <div class="card card-outline card-danger h-100">
                    <div class="card-header text-center">
                        <a href="../../index2.html" class="h1"><b>Demo</b></a>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Demo accounts are real accounts placed in <b>read-only</b> mode.</p>
                        <p class="login-box-msg">Read-only mode grants complete access to the system but no changes will be saved.</p>

                        <form method="post" asp-route="LoginDemo">
                                <button type="submit" class="btn btn-danger btn-block" asp-route="LoginDemo">Admin (Read Only)</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>