@model WhatBug.WebUI.Features.Accounts.Login.LoginViewModel

@{
    Layout = "AdminLTE/_LayoutBasic";
    ViewData["Title"] = "Register";
}

<body class="hold-transition login-page">
    <div class="col mb-3">
        <div class="d-flex align-content-center align-items-center justify-content-center pt-3">
            <img src="~/images/login-banner.png" alt="WhatBug Logo" asp-append-version="true">
        </div>
    </div>

    <div class="login-container">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center login-card-header">
                    <h2 class="login-title"><b>Sign in</b></h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group mb-3">
                            <input asp-for="Username" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Password" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input asp-for="RememberMe">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </div>
                    </form>


                    @if (@Model.RegistrationEnabled == true)
                    {
                        <p class="mb-0">
                            <a asp-route="Register" class="text-center">Create an account</a>
                        </p>
                    }
                    else
                    {
                        <p class="mb-0">
                            <b>Registration currently closed</b>
                        </p>
                    }
                </div>
            </div>
        </div>

        @if (Model.DemoEnabled)
        {
            <div class="login-box align-items-stretch">
                <div class="card card-outline card-danger h-100">
                    <div class="card-header text-center login-card-header">
                        <h2 class="login-title"><b>Demo</b></h2>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Sign into an admin account in <b>read-only</b> mode. <br>Grants full access to the application but changes are not saved.</p>

                        <form method="post" asp-route="LoginDemo" class="mt-2">
                            <button type="submit" class="btn btn-danger btn-block" asp-route="LoginDemo">Admin (Read Only)</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <script type="text/javascript" src="~/lib/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/admin-lte/js/adminlte.min.js"></script>
</body>