.dual-listbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__col {
        min-height: 100px;
        min-width: 300px;
    }

    &__col-table {
        @extend .table, .table-bordered, .table-hover;
        min-height: 100px;
        & td {
            
            background-color: white;
        }
    }
}