@model WhatBug.WebUI.ViewModels.PrioritySchemes.PrioritySchemesIndexViewModel

@{
    ViewData["Title"] = "Priority Schemes";
}

@{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Priority Schemes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.PrioritySchemes.Count; i++)
                        {
                            <tr>
                                <td>@Model.PrioritySchemes[i].Name</td>
                                <td>@Model.PrioritySchemes[i].Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
