@model WhatBug.Application.Projects.Queries.GetCreateProject.GetCreateProjectQueryResult

@{
    ViewData["Title"] = "Create Project";
}

@{

    <div class="page-container">
        <div class="text-block">
            <p>
                Create a new project to which you can assign user and roles roles, create issues and more.
            </p>
        </div>

        <div class="page-container__item--medium-width">
            <form class="form" method="post">
                <input type="hidden" asp-for="PrioritySchemeId" />
                <input type="hidden" asp-for="PermissionSchemeId" />

                <div class="form__group">
                    <label class="form__label" asp-for="Name">Project Name</label>
                    <input class="form__input" asp-for="Name" />
                    <span class="form__validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__group">
                    <label class="form__label" asp-for="Key">Project Key</label>
                    <input class="form__input" asp-for="Key" />
                    <span class="form__validation" asp-validation-for="Key"></span>
                    <div class="alert alert--info mt-3">
                        <button class="alert__dismiss" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>
                            <i class="icon icon--information"></i>
                            The project key becomes part of the unique identifier for issues belonging to this project.
                            For example a project with the key <b>DEMO</b> will have issues identified as <b>DEMO-1</b>,
                            <b>DEMO-2</b> etc.
                        </p>
                        <p>
                            <br />
                            It will also be used to refer to this project throughout WhatBug.
                        </p>
                    </div>
                </div>
                <div class="form__group">
                    <label class="form__label" asp-for="Description">Project Description</label>
                    <input class="form__input" asp-for="Description" />
                    <span class="form__validation" asp-validation-for="Description"></span>
                </div>
                <div class="form__group">
                    <label asp-for="PrioritySchemes">Priority Scheme</label>
                    <select class="form-control js-selectpicker js-prioritypicker">
                        @foreach (var scheme in Model.PrioritySchemes)
                        {
                            <option value="@scheme.Id">@scheme.Name</option>
                        }
                    </select>
                </div>
                <div class="form__group">
                    <label asp-for="PermissionSchemes">Permission Scheme</label>
                    <select class="form-control js-selectpicker js-permissionpicker">
                        @foreach (var scheme in Model.PermissionSchemes)
                        {
                            <option value="@scheme.Id">@scheme.Name</option>
                        }
                    </select>
                </div>
                <button class="button button--primary float-right" type="submit">
                    <i class="button__icon icon icon--plus"></i>
                    Create Project
                </button>
            </form>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/pages/CreateEditProject.js"></script>
}

