<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/images/nav-banner-logo.png" alt="WhatBug Logo" class="brand-image" asp-append-version="true">
        <img src="~/images/nav-banner-text.png" alt="WhatBug Logo" class="brand-text" asp-append-version="true">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @await Component.InvokeAsync("UserInfo") 

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        @await Component.InvokeAsync("Navigation")

    </div>
    <!-- /.sidebar -->
</aside>