.page-container {
    max-width: 1200px;
    padding: 0 1rem;

    @extend .l-flex;
    @extend .l-flex--column;

    &--full-width {
        max-width: 100%;
    }

    &__item {
        &--medium-width {
            max-width: 50rem;
        }
    }
}