@model WhatBug.WebUI.Errors.ErrorViewModel

@{
    Layout = "AdminLTE/_LayoutBasic";
    ViewData["Title"] = "Error";
}

<div class="error-page">
    <h2 class="headline text-danger">@Model.Code</h2>

    <div class="error-page-title">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> @Model.Title</h3>
    </div>
</div>