<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <avatar email="@Model.Email" size=128 class="profile-user-img img-fluid img-circle" alt="User Profile Picture" />
        </div>

        <h3 class="profile-username text-center">@Model.FullName</h3>

        <p class="text-muted text-center">Software Engineer</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Organization</b> <span class="float-right">WhatBug Inc</span>
            </li>
            <li class="list-group-item">
                <b>Department</b> <span class="float-right">Core Apps</span>
            </li>
            <li class="list-group-item">
                <b>Office</b> <span class="float-right">West Midlands, UK</span>
            </li>
        </ul>
    </div>
</div>