@model WhatBug.WebUI.Features.Projects.KanbanBoard.KanbanBoardViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/pages/kanban.min.css" />
} 

@{

  <div class="row row-cols-4 container-fluid">

      @foreach (var status in Model.IssueStatusGroups)
      {
          <div class="col">
              <div class="card card-secondary">
                  <div class="card-header">
                      <h3 class="card-title">
                          @status.Name
                      </h3>
                  </div>
                  <div class="card-body drag-container">

                      @foreach (var issue in status.Issues)
                      {
                        <div class="issue-card card card-info card-outline">      
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <!-- Issue type icon and Id -->
                                        <div class="row">
                                            <div class="col-2">
                                                <span>
                                                    <i class="@issue.IssueTypeIconName wb-color-@issue.IssueTypeIconColor"></i>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <a href="#">@issue.Id</a>
                                            </div>
                                        </div>
                                        <!-- Issue priority icon and summary -->
                                        <div class="row">
                                            <div class="col-2">
                                                <span>
                                                    <i class="@issue.PriorityIconName wb-color-@issue.PriorityIconColor"></i>
                                                </span>
                                            </div>
                                            <div class="col">
                                                Col2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                      }
                  </div>
              </div>
          </div>
      }
</div>



}
