@model WhatBug.Application.Priorities.Queries.GetDeleteConfirm.GetDeleteConfirmQueryResult

@{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Priority</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <p>
                    You are about to delete the following priority:
                </p>
                <p class="mb-4">
                    <b>@Model.Name</b>
                </p>
                <p class="mb-4">
                    Issues assigned to this priority will be reassigned to the default priority.
                </p>

                <div>
                    <div class="alert alert--danger">
                        <p><i class="icon icon--danger"></i><b>Warning:</b> This action cannot be undone!</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form method="post" asp-route="DeletePriority">
                    <input type="hidden" asp-for="PriorityId" />
                    <button type="submit" class="btn btn-danger delete-priority-confirm">Confirm Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/priorities.js"></script>
}