@model WhatBug.WebUI.Components.UserInfo.UserInfoViewModel

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <avatar email="@Model.Email" class="img-circle elevation-2"/>
    </div>
    <div class="info">
        <a asp-route="Profile" asp-route-userId="@Model.Id" asp class="user-list-name">@Model.FullName</a>
    </div>
</div>